body
{
	margin: 0px;
	background-color:#F6F6F6;
	width: 100%;
	height:100%;
	color: #000;


}

img
{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

}

#navigation-holder
{
  /*width: 600px;*/
  margin: 15px auto;
  position: relative;
}


nav
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	margin-top:0px;
	color:#ffffff;
	position:fixed;
	width: 220px;
	height:100%;
	border:none;
	background-color: #333645;

}



nav > span
{
	background-color: #65C3DF;
	padding-top:30px;
	padding-bottom:20px;
	display: block;
}

nav > span > p#app-name
{
	color: #F6F6F6;
	margin-left:20px;
	font-size: 16px;
}

nav > span > p#user-name
{

	text-align:left;
	margin-left:20px;
	font-weight: 600;
	color:#fff;

}


nav > a.link
{
	font-family: 'PT Sans Narrow', sans-serif;
	color:#fff;
	padding: 15px 0px 30px 15px;
	font-size: 23px;
	display: block;
	text-decoration: none;
	text-transform:uppercase;
	visibility: visible;

}

nav > a.link > span
{
	font-size: 15px;
	padding:5px 7px;
	background-color: #FF6B6B;
	border-radius: 5px;
}

nav > a.link:hover
{
	text-decoration: none;
	font-weight: 600;
	background-color: #FDE3A7;
	color: #333645;
}

nav > a#first-link
{
	padding-top: 25px;
}



header
{
	font-size: 20pt;
	display:block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align:left;
	margin-left: 20px;
	padding:10px;

}



header.subheading, header.titleheading
{
	font-size: 18px;
	margin:0;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px 0px 0px 0px;
	font-weight: bold;
	color: #5c6866;
	text-transform: uppercase;
}

header.titleheading
{
	margin-left: 15px;
	padding: 50px 0px 60px 0px;
}

img.icon
{
	max-width:18px;
	max-height:18px;
	margin: -2px 0px 0px 24px;
	vertical-align:middle;
	padding-right:2px;
}



header.modules
{

	font-size:18pt;
	color:#5c6866;
	display:block;
	clear:left;
	text-transform: uppercase;
	padding-top:25px;
	text-align:left;
	margin: 0px 0px 10px 0px;
}

header.modulename
{
	text-align:left;
	font-size:22pt;
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom:10px;

}

button.back-button
{
	width: 50px;
	margin: 0px 10px;
	padding: 0px 10px;
	cursor: pointer;
	background-color: #f2f2f2;
	color: #000;
}

p.summary
{
	margin:15px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
}

p#errorMessage
{
	color: #FF6B6B;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 10px;
	padding-left:5px;
	margin: 5px 0px 15px 0px;
	font-size: 1em;
	font-weight: 600;

}

div#content2
{
	height: 100%;
	width: auto;
	/*background-color:#fff;*/
	margin-left:220px;
	margin-top: 10px;

}

.left
{
	margin-left:20px;
}



p.footnote
{
	padding-top: 30px;
	text-align: center;
	font-size:10pt;
	color:#0f547b;
}

label
{
	font-size:13pt;
	display: block;
	font-weight: 600;
	color: #3498DB;
	text-align: left;
	/*padding-right: 2px;*/
	margin-left: 5px;
	/*float: left;*/
	width:150px;
	font-family: 'Source Sans Pro', sans-serif;

}



input[type=text], input[type=password], input[type=email]
{
	font-size: 1.2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: #34495E;
	padding-left: 2px;
	padding-bottom: 3px;
	margin: 0px 0px 15px 5px;
	border: 0;
	border-top:none;
	border-left:none;
	border-right: none;
	border-bottom: 1px solid #BBBBBB;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: 220px;
}

input[type=text]#note
{
	margin: 0px;
	width: 400px;
}

input[type=radio]
{
	font-size:15px;

	margin:5px 15px 15px 5px;
}




input[type=file]
{

	border:none;
	margin: 10px 0px 5px 0px;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;
}



select
{
	font-size:1.2em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #34495E;
	font-weight: bold;
	background-color:#fff;
	padding: 0px 17px 3px 2px;
	border: 0;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: auto;
	margin: 0px 0px 15px 5px;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;


}


input[type=submit], button
{
	height: 40px;
	font-size: 20px;
	width:100px;
	margin: 20px 170px;
	color: #fff;
	border:none;
	background-color: #0EB4CA;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;

}

button#saveNote
{
	height: 40px;
	background-color: #A48AD4;
	width: 40px;
	margin: 5px 0px;
}

button#saveNote:hover
{
	background-color: #8373a1;

}

button.task-actions
{
	height: 40px;

	width: 150px;
	margin: 25px 0px;
}

button#hide
{
	background-color: #EA555B;
}

button#resolve
{
	background-color: #45B7AF;
}


input[type=submit]:hover, button:hover
{

	color: #fff;
	background-color: #1EC8D8;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;

}

#lookupButton
{
	margin:0px 5px;
}


textarea
{
	font-size:13pt;
	color:#2980b9;
	text-align:left;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 5px 0px 5px 0px;
	border: 0;
	border-top:none;
	border-left:none;
	border-right: none;
	border-bottom: 1px solid #BBBBBB;

}

p.newsitem
{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 17px;
		color: #064d7c;
		margin-left:25px;
}

form
{

	margin-left: 80px;
	margin-top: 20px;

}


#content
{
	margin: 0px 0px 0px 50px;
	height: 100%;
	/*overflow:hidden;*/
	width:auto;

}

.container
{
	height:auto;
	clear:both;
}


/*#data p
{
	padding: 5px 0px 0px 0px;


}*/


#content section
{
	padding-bottom:40px;
}

div.tile-container
{
	padding-bottom:90px;
	position:relative;
	margin-left:150px;
	top:80px;

}


section.overview
{
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15pt;
	text-decoration:none;
}

#tile a
{
	text-decoration:none;
	color:#fff;

}




table
{

	font-size: 15px;
	width: 90%;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 10px;
	padding-bottom: 50px;
}

table#update-history
{
	width:90%;

}

a[data-view="hide"]
{
	display:none;
}



thead
{
	color:#3498db;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:left;

}


div#toggle-view
{
	display: block;
	padding: 50px 0px;
	margin-left: 70%;


}

div#content2 > header
{
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	margin-left: 50px;
}

div#toggle-view p
{
	display: inline;
	padding:5px;
	margin: 2px;
	font-weight: bold;
}

div#toggle-view p.view:hover
{
	background-color: #CECECE;
	cursor: pointer;
}

div#table-results
{
	height:auto;
	width:90%;
	display: block;
	margin-top: 50px;
	margin-left: 15px;
	background-color: #ffffff;

}

/*div#time-date
{
	padding-top:0px;
	margin: 0px;
}*/

div#page-title
{
	background-color: #ffffff;
	width: 100%;
	height: 96px;
	margin-left: 20px;
	width: 90%;

}

div#page-title > header
{
	font-size: 1.5em;
	text-align: center;
	padding-top: 25px;
	margin-left: 15px;

}

div.recent-items, div.at-a-glance, div.news-feed
{
	background-color: #ffffff;
	padding-bottom: 20px;
	width: 90%;

}

div.at-a-glance
{
	border-right: 5px solid #45B7AF;
}


div.news-feed
{
	padding-top: 10px;
	margin-top: 20px;
	border-right: 5px solid #FF6B6B;
}

div.recent-items
{
	border-right: 5px solid #A48AD4;
}


div.recent-items > table
{
	margin-left: 25px;
}



div#recent-items, div#recent-items p
{
	margin-left:15px;
}

div#recent-items thead
{
	font-size: 18px;
}

div#recent-items td
{
	font-size: 17px;
}

div#result-cards
{
	display: none;
	overflow: hidden;
	box-sizing: border-box;
}

/*
div.card a.full-details, td a.full-details
{
	color:#049372;
	padding-bottom: 10px;
	float: right;
	display: block;
}

div.card a.full-details:hover, td a.full-details:hover
{
	color:#06503f;
	text-decoration: underline;
	float: right;
	display: block;
}*/

#result-container
{
	margin:0 0 0 100px;
	padding-bottom: 30px;
}

#result-container
{
	padding-bottom: 30px;
}

#result-container p
{
	font-size:20px;
}

#result-container header.subheading
{
	padding-top:25px;
}

#image-container header.subheading
{
	padding-bottom: 10px;
}

#image-container p
{

	display: inline-block;
	padding:0px 0px 20px 0px;
}

#image-container p img
{
	min-height: 100px;
	max-height: 100px;
	margin-right: 20px;
	min-width: 150px;
	max-width: 150px;
}

td
{
	padding: 10px 5px;
	font-size: 18px;
	text-align: left;
}


tr:nth-of-type(even)
{

  	text-align: left;
		background-color:#ecf0f1;
}




tbody img
{
	height:100px;
	width:100px;
}


#pagination-holder
{
	margin-left: 210px;
	padding-top: 25px;
	padding-bottom: 25px;

}

div#pagination-holder > p
{
	font-size: 1.3em;

}

div#pagination-holder > p > span
{
	font-weight: 600;
	color: #FF6B6B;
}

a.paginate
{
	text-transform: uppercase;
	border:2px solid;
	background-color:#333645;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	text-decoration:none;
	text-align: center;
	margin-left:0px;
	padding:4px 5px 4px 5px;
	font-size: 1.5em;

}


a.paginate:hover
{
	background-color:#fff;
	color: #3498DB ;
}

span.pageNumber
{
	padding:4px;
	font-size: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
}


form.card
{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ffffff;
	width:auto;
	height: auto;
	vertical-align: top;
	position: relative;
	display:inline-block;
	margin:50px 30%;
	padding: 5px 20px 20px 10px;
}


form#package, form#user
{
	width: 600px;
	margin:20px 20%;
}

form#package > p
{
	font-size: 1.2em;
}

form#package > input[type=text], form#package > input[type=password], form#package > input[type=email], form#package > select
{
	width: 520px;
}

form#user > input[type=text], form#user > input[type=password], form#user > input[type=email], form#user > select
{
	width: 520px;
}

div.card
{
	display:inline-block;
	height: 330px;
	background-color:#ffffff ;
	margin: 20px 10px;
	width: 270px;


}

div.card > div.card-image
{
	margin: 15px 0px;
	padding: 0px;
	width: 270px;
	background-color: #ffffff;
}

div.card > div.card-image > p > img
{
	height: 150px;
	width: 175px;
	margin: 0px 40px;
}


div.card > div.card-details
{

	margin-left: 0px;
	padding: 0px 10px;

}

div.card > div.card-details > p
{
	font-family: 'Source Sans Pro', sans-serif;
}

div.card > div.card-details > p.customer
{
	color: #333645;
	font-family: 'Roboto', sans-serif;
	text-transform: none;
	font-size: 1.3em;
	font-weight: 500;
}

div.card > div.card-details > p.issue
{
	font-size: 1em;
	text-transform: uppercase;
	color: #333645;
	font-weight: 600;
}

div.card > div.card-details > p.description
{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: #333645;
	text-transform: none;
}

div.card > div.card-footer
{
	margin-top: 5px;
	/*background-color: #3498db;*/
	border-top: 1px solid #777777;
}

div.card > div.card-footer > p
{
	display: inline-block;
	margin: 5px 5px auto auto;

}

div.card > div.card-footer > p.trackingnumber
{
	font-family: 'Roboto', sans-serif;
	/*font-weight: 500;*/
	font-size: 12px;
	color: #272727;
	display: block;
	margin-left: 5px;
}


div.card > div.card-footer > p.url
{
	text-align: center;
}


div.card > div.card-footer > p.url > a, td > a
{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #45B7AF;
	text-transform: uppercase;
	text-decoration: none;
}


section.card
{
	background-color: #fff;
	display:inline-block;
	color: #333647;
	width:200px;
	margin-left: 25px;
	cursor:select;
}


section.card p
{
		font-size:27px;
		text-align:center;
}


section.card  > p.card-title
{
	font-size: 18px;
	padding: 0;
	color: #787878;
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
	/*border-bottom: 1px solid #b9b8b1;*/
}


div.card header.subheading, form.card header.subheading
{
	font-size: 18px;
	margin:0;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px 0px 0px 0px;
	font-weight: bold;
	color: #3f4141;
	text-transform: uppercase;
}

div.card img
{
	width: 200px;
	height: 150px;
}

div.card a.listing
{
	color:#5f81ea;
	float: right;
	display: block;
}

/*div.card > a.full-listing:hover
{
	color:#5f81ea;
	text-decoration: underline;
	float: right;
	display: block;
}*/

#data
{
		margin-left: 10px;
}


footer
{
	bottom:0px;
	clear:both;
	margin: 0px 0px 0px 250px;
	height:40px;
	text-align:center;
}





/*//////////////////////////////////////////////////*/
/* STYLES FOR DEVICE WITH SMALLER SCREENS GO HERE*/
/* ////////////////////////////////////////////////*/

@media (max-width:641px)
{
			*
			{
				margin: 0px;
				padding: 0px;
			}

			nav
			{
				width: 75px;
				height: 100%;
				/*position: absolute;*/
			}

			nav > span
			{
				height: 70px;
			}

			nav > span > p#app-name, nav > span > p#user-name
			{
				margin-left: 8px;
				font-size: 18px;
				/*display: none;*/
			}

			nav > span > p#app-name
			{
				visibility: hidden;
			}
			nav > span > p#app-name:before
			{
				visibility: visible;
				top: 0;
				left: 0;
				content: "PH\00ae";
				text-align: center;
				margin-left: 10px;
			}

			nav > span > p#user-name
			{
				display: none;
			}

			nav >  a.link, nav > a.link:hover
			{
				padding: 12px 0px 15px 17px;

				/*line-height: 1;*/
				font-size: 0;
				color: transparent;
			}

			nav > a.link > i
			{
				color: #ffffff;
				font-size: 23px;
			}

			nav > a.link > i:hover
			{
				color: #333645;
			}

			nav > a.link > span
			{
				/*font-size: 12px;*/
				margin-left: 3px;
				color: #ffffff;
				padding: 3px 5px;
				border-radius: 3px;

			}

			div#content2
			{
				margin-left: 73px;
				width: 75%;
			}

			div#page-title
			{
				height: 75px;
				margin-left: 15px;
				width: 93%;
			}


			div#content
			{
				margin-left: 0px;
				width: 95%;
			}

			div.recent-items, div.at-a-glance, div.news-feed
			{
				width: 100%;
				margin-left: 10px;
			}

			div.recent-items > header, div.at-a-glance > header, div.news-feed > header
			{
				padding: 5px 5px 5px 5px;
				margin: 5px 0px;
				font-size: 15pt;
			}

			div.news-feed > p.newsitem
			{
				padding: 8px 5px 0px 5px;
				font-size: 14px;
				margin: 0px 0px 0px 5px;

			}

			#data > p
			{
				padding: 0px;
			}

			div#at-a-glance > section.card
			{
				padding: 10px 0px 0px 0px;
			}

			table, thead, tbody, th, td, tr
			{
				display: block;
			}

			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr
			{
				position: absolute;
				top: -9999px;
				left: -9999px;
			}


			td
			{
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee;
				position: relative;
				padding-left: 50%;
			}

			td:nth-of-type(1)
			{
				padding-left: 5px;
				font-size: 15px;
				text-align: right;
			}

			td:before
			{
				/* Now like a table header */
				position: absolute;

				/* Top/left values mimic padding */
				top: 3px;
				left: 3px;
				padding-right: 0px;
				font-weight: 600;
				white-space: nowrap;
			}

			/* Label the data */
			td:nth-of-type(1):before { content: ""; }
			td:nth-of-type(2):before { content: "Customer"; }
			td:nth-of-type(3):before { content: "Main Issue"; }
			td:nth-of-type(4):before { content: "Description"; }
			td:nth-of-type(5):before { content: ""; }



		/*}*/

		button.back-button
		{

			display: none;

		}

		div#toggle-view
		{
			padding: 20px 0px;
			margin-left: 5px;
		}

		div#toggle-view > p
		{
			font-weight: normal;
			font-size: 14px;
		}
		div.card
		{
			width: 250px;
			margin-left: 20px;
		}

		div.card > div.card-image
		{
			padding-top: 8px;
			width: 250px;
		}

		div.card > div.card-image > p > img
		{
			height: 100px;
			width: 120px;
		}

		div.card > div.card-details > p.customer, div.card > div.card-details > p.issue, div.card > div.card-details > p.description
		{
			font-size: 1em;

		}

		div.card > div.card-footer > p.trackingnumber
		{
			font-size: 12px;
		}

		div.card > div.card-footer > p.url > a
		{
			font-size: 13px;
		}

		div#pagination-holder
		{
			margin-left: 50px;
			max-width: 80%

		}

		div#pagination-holder > p
		{
			font-size:15px;
		}

		form#package, form#user
		{
			width: 275px;
			margin: 20px 5px;
		}


		form#package > p, form#user > p
		{
			font-size: 1em;
		}

		form#package > input[type=text], form#package > input[type=password], form#package > input[type=email], form#package > select
		{
			width: 250px;
		}

		form#package > textarea
		{
			width: 250px;
			height: 100px;
		}

		input[type=submit], button
		{
			width: 75px;
			margin: 10px 100px;

		}

		form#search
		{
			width: 280px;
			margin: 50px 5px;
			height: 275px;
		}

		form#search > p, form#user > p
		{
			margin: 10px;
			padding: 10px;

		}

		form#search > input[type=text]
		{
			margin-left: 40px;
		}

		form#search > input[type=submit], button
		{
			margin-left: 90px;
		}

		form#user > input[type=text], form#user > input[type=password], form#user > input[type=email], form#user > select
		{
			width: 250px;
		}

		div#result-container
		{
			margin:0px 0px 0px 10px;
		}
		div#result-container > p
		{
			margin-top: 15px;
			font-size: 17px;
			font-weight: normal;
		}

		div#result-container > p#errorMessage
		{
			display: none;
		}

		div#result-container > div#actions > input[type="text"]
		{
			width: 175px;
			font-size: 18px;
			margin-right: 2px;
			font-weight: normal;
		}

		table#update-history > tbody > tr > td
		{
			font-size: 18px;
		}
		table#update-history > tbody > tr > td:nth-of-type(1):before { content: ""; }
		table#update-history > tbody > tr > td:nth-of-type(2):before { content: "Update"; }
		table#update-history > tbody > tr > td:nth-of-type(3):before { content: "User/Agent"; }


} /* End of styles for mobile devices */

/*///////////////////////////////////////*/
/* Do this for tablet devices*/
/*////////////////////////////////////////*/

@media (min-width:642px) and (max-width: 961px)
{
	nav
	{
		width: 170px;
		height: 100%;
		position: absolute;
	}


	nav > span > p#app-name, nav > span > p#user-name
	{
		margin-left: 8px;
		font-size: 18px;

	}


	nav >  a.link, nav > a.link:hover
	{
		padding: 12px 0px 25px 3px;
		font-size: 1em;
		/*color: transparent;*/
	}

	nav > a.link > i
	{
		color: #ffffff;
		font-size: 23px;
	}

	nav > a.link > i:hover
	{
		color: #333645;
	}

	nav > a.link > span
	{

		margin-left: 3px;
		color: #ffffff;
		padding: 3px 5px;
		border-radius: 3px;

	}

	div#content2
	{
		margin-left: 180px;
		width: 75%;
	}

	div#page-title
	{
		height: 75px;
		margin-left: 15px;
		width: 93%;
	}

	div#page-title > header
	{
		font-size: 18px;
		text-align: center;
		margin-left: 8px;
		padding-top: 15px;
	}

	div#content
	{
		margin-left: 0px;
		width: 95%;
	}

	div.recent-items, div.at-a-glance, div.news-feed
	{
		width: 100%;
		margin-left: 10px;
	}

	div.recent-items > header, div.at-a-glance > header, div.news-feed > header
	{
		padding: 5px 5px 5px 5px;
		margin: 5px 0px;
		font-size: 15pt;
	}

	div.news-feed > p.newsitem
	{
		padding: 8px 5px 0px 5px;
		font-size: 14px;
		margin: 0px 0px 0px 5px;

	}

	#data > p
	{
		padding: 5px;
	}

	div#at-a-glance > section.card
	{
		padding: 10px 0px 0px 0px;
	}

	table, thead, tbody, th, td, tr
	{
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr
	{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


	td
	{
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:nth-of-type(1)
	{
		padding-left: 5px;
		font-size: 15px;
		text-align: right;
	}

	td:before
	{
		/* Now like a table header */
		position: absolute;

		/* Top/left values mimic padding */
		top: 3px;
		left: 3px;
		padding-right: 0px;
		font-weight: 600;
		white-space: nowrap;
	}

	/* Label the data */
	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "Customer"; }
	td:nth-of-type(3):before { content: "Main Issue"; }
	td:nth-of-type(4):before { content: "Description"; }
	td:nth-of-type(5):before { content: ""; }




button.back-button
{
	/*width: 25px;
	font-size: 15px;
	padding: 0px 3px;
	margin: 0px 3px;
	height: 25px;*/
	display: none;

}

div#toggle-view
{
	padding: 20px 0px;
	margin-left: 5px;
}

div.card
{
	width: 250px;
	margin-left: 50px;
}

div.card > div.card-image
{
	padding-top: 8px;
	width: 250px;
}

div.card > div.card-image > p > img
{
	height: 100px;
	width: 120px;
}

div.card > div.card-details > p.customer, div.card > div.card-details > p.issue, div.card > div.card-details > p.description
{
	font-size: 1em;

}

div.card > div.card-footer > p.trackingnumber
{
	font-size: 12px;
}

div.card > div.card-footer > p.url > a
{
	font-size: 13px;
}

div#pagination-holder
{
	margin-left: 50px;
	max-width: 80%

}

div#pagination-holder > p
{
	font-size:15px;
}

form#package, form#user
{
	width: 500px;
	margin: 20px 15px;
}


form#package > p, form#user > p
{
	font-size: 1em;
}

form#package > input[type=text], form#package > input[type=password], form#package > input[type=email], form#package > select
{
	width: 450px;
}

form#package > textarea
{
	width: 480px;
	height: 100px;
}

input[type=submit], button
{
	width: 75px;
	margin: 10px 220px;

}

form#search
{
	width: 530px;
	margin: 50px 30px;
	height: 275px;
}

form#search > p, form#user > p
{
	margin: 10px;
	padding: 10px;

}

form#search > input[type=text]
{
	margin-left: 40px;
}

form#search > input[type=submit], form#search > button
{
	margin-left: 90px;
}

form#user > input[type=text], form#user > input[type=password], form#user > input[type=email], form#user > select
{
	width: 480px;
}

div#result-container
{
	margin:0px 0px 0px 10px;
}
div#result-container > p
{
	margin-top: 15px;
	font-size: 17px;
	font-weight: normal;
}

div#result-container > p#errorMessage
{
	display: block;
}

div#result-container > div#actions > input[type="text"]
{
	width: 275px;
	font-size: 18px;
	font-weight: normal;
}

}
