body
{
	margin: 0px;
	background-color:#F6F6F6;
	width: 100%;
	height:100%;
	color: #000;
}




img
{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}


ul#top
{

	position:fixed;
	top: 0;
	padding: 10px 25px;
	width: 100%;
	height: 50px;
	background-color: #354052;
	/*background-color: #4CAF50;*/
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #fff;
	margin: 0px;
	padding: 10px 0px;
	list-style-type: none;
	z-index: 3;
}



ul#top > li, ul#top > li > ul > li
{
	display: inline;

}

ul#top > li > a
{
	color:#333333;
	text-decoration:none;
}

ul#top > li a:hover
{
	color:#006699;
	text-decoration:none;
}

ul#top > li > ul > li > input[type=text]
{
	border: none;
	width: 300px;
	height: 30px;
	padding: 0 10px;
	margin: 0 150px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	/*float: right;*/
}

ul#top > li > ul > li > button
{
	background: none;
	color: rgb(163, 162, 171);
	height: 30px;
	width: 30px;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	/*float: right;*/

}

ul#top > li > ul > li > i.fa-bullhorn
{
	cursor: pointer;
}

ul#top > li > ul.submenu
{
	list-style-type: none;
	width: 170px;
	background-color: #fff;
	display: none;
	position: absolute;
	margin: 15px 40px;
	padding:10px 10px;
	border-top: 3px solid rgb(82, 209, 44);
	z-index: 2;
}

ul#top > li > ul.submenu > li
{
	/*display: inline;*/
	padding: 10px 0px;
	position: relative;

}

ul#top > li > ul.submenu > li > a
{
	color: #444241;
	text-decoration: none;
	text-transform: lowercase;
	margin: 10px 0;
}

ul#top > li
{
	padding: 10px 0px;
	/*margin: 10px 0px;*/
}

ul#top > li > ul.submenu > li:hover
{
	color: #fff;
}

ul#top > li > ul.right-align
{
	float: right;
}


i.icons8-calendar
{
	font-size: 20px;
}

i.icons8-comments
{
	font-size: 24px;
}


#notification_li
{
	position:relative;

}

#notificationContainer
{
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 50px;
	margin-left: 1050px;
	width: 400px;
	z-index: 1000;
	display: none; // Enable this after jquery implementation
}

// Popup Arrow
#notificationContainer:before
{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}

#notificationTitle
{
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	color: #444241;
	position: fixed;
	z-index: 1000;
	width: 397px;
	border-top: 3px solid rgb(82, 209, 44);
	border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
	padding: 33px 0px 0px 0px !important;
	min-height:300px;
}

#notificationFooter
{
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}

#notificationFooter > a
{
	text-decoration: none;
	font-size: 1.2em;
	color: rgb(57, 55, 57);
}


ul#top > li.pageTitle
{
	padding: 0 4px;
	position: absolute;
	top: 13px;
	left: 40%;
	/*height: 30px;*/
	text-align: center;

}

ul#top > li.menu
{
	padding: 10px 10px 10px 10px;
	margin-right: 5px;
	height: 50px;
	cursor: pointer;
}

ul#top > li.user
{
	text-transform: capitalize;
}

ul#top > li.user > a
{
	color: #fff;
	text-decoration: none;
}

ul#top > li.user:hover
{
	cursor: pointer;
}

ul#top > li.user > a::after
{
	content: '\25bc';
	font-size: 10px;
	top:5px;
	padding: 0 3px;
}

nav
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	display: block;
	/*margin-top:50px;*/
	color:#ffffff;
	position:fixed;
	width: 220px;
	height:100%;
	border:none;
	background-color:#1C94C4;
	/*z-index: 1;*/
	overflow: auto;

}

nav > header.navCategory
{
	color: #F6F6F6;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	margin: 40px 5px 20px 15px;
	padding-left: 5px;

}

nav > header.navIssues
{
	margin-top: 70px;
}

nav > header.navCategory:hover
{
	cursor: pointer;
	background-color: rgba(33, 32, 33, 0.10);
}

nav > header.navCategory > i.fa-caret-down
{
	float: right;
	margin-right: 30px;
}


nav > span > a.link
{
	font-family: 'PT Sans Narrow', sans-serif;
	color:#fff;
	padding: 15px 0px 30px 25px;
	font-size: 18px;
	display: block;
	text-decoration: none;
	text-transform:uppercase;
	visibility: visible;
}

nav > span > a.link:active
{
	background-color: #FFEB3B;
}

a.link > i.fa-sign-out
{
	font-size: 1.3em;
	padding: 0 0 0 10px;
	color: #fff;
}

nav > span > a.link > span.numberOfIssues
{
	font-size: 15px;
	padding:3px 7px 3px 7px;
	background-color: #cc0000;
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

nav > span > a.link:hover
{
	text-decoration: none;
	font-weight: 600;
	background-color: #FFEB3B;
	color: #272727;
}


header.subheading, header.titleheading
{
	font-size: 18px;
	margin:0;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px 0px 0px 0px;
	font-weight: bold;
	color: #3C3F42;
	text-transform: uppercase;

}

header.titleheading
{
	margin-left: 15px;
	padding: 50px 0px 60px 0px;
}


header.modules
{

	font-size:18pt;
	font-family: 'Roboto', sans-serif;
	color:#1C94C4;
	display:block;
	clear:left;
	text-transform: uppercase;
	padding-top:25px;
	text-align:left;
	margin: 0px 0px 10px 0px;
}

header.modulename
{
	text-align:left;
	font-size:22pt;
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom:10px;

}


p.summary
{
	margin:15px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
}

p#errorMessage
{
	color: #FF6B6B;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 10px;
	padding-left:5px;
	margin: 5px 0px 15px 0px;
	font-size: 1em;
	font-weight: 600;

}

div#content2
{
	height: 100%;
	width: auto;
	margin-left:220px;
	padding: 50px 0;

}



label
{
	font-size:13pt;
	display: block;
	font-weight: 600;
	color: #777777;
	text-align: left;
	margin-left: 10%;
	width:150px;
	font-family: 'Roboto', sans-serif;

}



input[type=text], input[type=password], input[type=email], input[type=date]
{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	/*font-weight: bold;*/
	color: #05ABE0;
	padding-left: 30px;
	padding-bottom: 3px;
	margin: 0px 0px 15px 10%;
	border: 0;
	border-top:none;
	border-left:none;
	border-right: none;
	border-bottom: 1px solid #BBBBBB;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: 70%;
}



input[type=file]
{

	border:none;
	margin: 10px 0px 5px 10%;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;
}



select
{
	font-size:1.1em;
	font-family: 'Roboto', sans-serif;
	color: #05ABE0;
	font-weight: bold;
	background-color:#fff;
	padding: 0px 17px 3px 2px;
	border: 0;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: auto;
	margin: 0px 0px 15px 10%;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;


}

textarea
{
	font-size:13pt;
	width: 75%;
	color:#05ABE0;
	text-align:left;
	padding-left: 5px;
	font-family: 'Roboto', sans-serif;
	margin: 5px 0px 5px 10%;
	border: 0;
	border-top:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;

}

div#data > p.nothing
{
	font-size: 1.2em;
	font-family:'Roboto', sans-serif;
	margin: 25% auto;
	display: block;

}

div#data > img.nothing
{
	display: block;
	margin: 25% auto;
}

#lookupResults > img.nothing
{
	display: block;
	margin: 5% auto;
}


input[type=text]#trackingnumber, input[type=text]#tnum
{
	background-image: url('../images/icons/qrcode.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#customername
{
	background-image: url('../images/icons/contacts.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#carrier
{
	background-image: url('../images/icons/courier.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#username
{
	background-image: url('../images/icons/circledcontact.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#password
{
	background-image: url('../images/icons/asterisk.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#firstname, input[type=text]#lastname
{
	background-image: url('../images/icons/text.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=email]#emailaddress
{
	background-image: url('../images/icons/email.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#itemtype
{
	background-image: url('../images/icons/pricetag.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=text]#phonenumber
{
	background-image: url('../images/icons/phone.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}


input[type=text]#note
{
	margin: 0px;
	width: 600px;
	background: none;
}


input[type=text]#queryField
{
	/*width: 300px;*/
	padding-left: 5px;
	background-image: url('../images/icons/search.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 99% center;
}



input[type=submit], button
{
	height: 40px;
	font-size: 20px;
	width:100px;
	margin: 0 50%;
	color: #fff;
	border:none;
	background-color: #0EB4CA;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;

}

button#saveNote
{
	height: 40px;
	background-color: #05ABE0;
	width: 40px;
	margin: 5px 0px;
}

button#saveNote:hover
{
	background-color: #127899;

}

button.task-actions
{
	height: 40px;
	width: 150px;
	margin: 25px 5px;
}

button#hide
{
	background-color: #EA555B;
}

button#resolve
{
	background-color: #45B7AF;
}


input[type=submit]:hover, button:hover
{

	color: #fff;
	background-color: #1EC8D8;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;

}

#lookupButton
{
	margin:0px 5px;
}




form
{

	margin-left: 80px;
	margin-top: 20px;

}


table
{

	font-size: 15px;
	width: 90%;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 10px;
	padding-bottom: 50px;
	margin:0 auto;
}

table#update-history
{
	width:90%;
	margin-left: 10px;

}

a[data-view="hide"]
{
	display:none;
}



thead
{
	color:#3C3F42;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align:left;
	text-transform: uppercase;

}

td
{
	padding: 10px 5px;
	font-size: 18px;
	text-align: left;
}


tr:nth-of-type(even)
{

  	text-align: left;
		background-color:#EEEEEE;
		color: #000;
}


tbody img
{
	height:100px;
	width:100px;
}



div#toggle-view
{
	display: block;
	padding: 50px 0px;
	margin-left: 70%;


}

div#content2 > header
{
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	margin-left: 50px;
}

div#toggle-view > p
{
	display: inline;
	padding:5px;
	margin: 2px;
	font-weight: bold;
}

div#toggle-view > p.view:hover
{
	background-color: #CECECE;
	cursor: pointer;
}

div#table-results
{
	height:auto;
	width:90%;
	display: block;
	margin: 15px;
	padding: 20px;
	background-color: #ffffff;

}



div.recent-items, div.summary,  div.news-feed, div#weekly-report
{
	background-color: #ffffff;
	padding-bottom: 20px;
	margin-left:20px;
	width: 90%;
}

div.summary
{
	border-right: 5px solid #78C932;
}

div.summary > header.modules
{
	margin-left: 20px;
	padding-bottom: 15px;
	cursor: pointer;
}

div.summary > div.card
{
	width: 300px;
	height: 250px;
	margin: auto;
}

div.summary > div.card > p.card-title
{
	text-align: center;
	font-size: 1.2em;
	color: #3C3F42;
	text-transform: uppercase;
}



div.news-feed
{
	padding-top: 5px;
	margin-top: 20px;
	border-right: 5px solid #FF6B6B;
}

div.news-feed > p.newsitem
{
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: #000;
		margin-left:25px;
		padding-bottom: 15px;
}


div.news-feed > header.modules
{
	margin-left: 20px;
	padding-bottom: 15px;
	cursor: pointer;
}

div#weekly-report
{
	border-right: 5px solid rgb(232, 218, 35);
	padding: 20px 20px;
	margin-top: 20px;
}

div.recent-items
{
	border-right: 5px solid #A48AD4;
	/*height: 350px;*/
}

div.recent-items > header.modules
{
	margin-left: 20px;
	padding-bottom: 15px;
	cursor: pointer;
}



div.recent-items > table
{
	margin-left: 20px;
}



div#result-cards
{
	display: none;
	overflow: hidden;
	box-sizing: border-box;
	margin-left: 20px;
}



#result-container
{
	margin:0 0 0 100px;
	padding-bottom: 30px;
}

#result-container
{
	padding-bottom: 30px;
}

#result-container p
{
	font-size:1em;
	margin-top: 10px;
	padding: 8px;
}

#result-container header.subheading
{
	padding-top:25px;
}

#image-container header.subheading
{
	padding-bottom: 10px;
}

#image-container p
{

	display: inline-block;
	padding:0px 0px 20px 0px;
}

#image-container p img
{
	min-height: 100px;
	max-height: 100px;
	margin-right: 20px;
	min-width: 150px;
	max-width: 150px;
}



#pagination-holder
{
	margin-left: 210px;
	padding-top: 25px;
	padding-bottom: 25px;

}

div#pagination-holder > p
{
	font-size: 1.3em;

}

div#pagination-holder > p > span
{
	font-weight: 600;
	color: #FF6B6B;
}

a.paginate
{
	text-transform: uppercase;
	border:2px solid;
	background-color:#333645;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	text-decoration:none;
	text-align: center;
	margin-left:0px;
	padding:4px 5px 4px 5px;
	font-size: 1.5em;

}


a.paginate:hover
{
	background-color:#fff;
	color: #3498DB ;
}

span.pageNumber
{
	padding:4px;
	font-size: 1.3em;
	font-family: 'Source Sans Pro', sans-serif;
}


form.card
{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #ffffff;
	width:75%;
	height: auto;
	vertical-align: top;
	position: relative;
	display:inline-block;
	margin:20px 5%;
	padding: 5px 20px 20px 10px;
}


/*form#package, form#user
{
	width: 75%;
	margin:20px 5%;
}*/

form#package > section
{
	margin:0 auto;
}

form > p
{
	font-size: 1em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

form#search > p.searchKey
{
	font-size: 1em;
	text-align: left;margin-left: 10%;
}

form#search > header.searchOptions
{
	text-align: left;
	margin-left: 10%;
}

form#search > input[type=text]#datepicker
{
	/*margin-left: 10px;*/
	width: 200px;
	background-image: url('../images/icons/date.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

form#search > p.searchKey > span
{
	color: #333645;
}
/*
form#package > input[type=text], form#package > input[type=password], form#package > input[type=email], form#package > select
{
	width: 520px;
}

form#user > input[type=text], form#user > input[type=password], form#user > input[type=email], form#user > select
{
	width: 520px;
}*/

div#search-card
{
	height: 390px;
}

div.card
{
	display:inline-block;
	height: 320px;
	background-color:#ffffff ;
	margin: 20px 10px;
	width: 270px;


}

div.card > div.card-image
{
	margin: 15px 0px;
	padding: 0px;
	width: 270px;
	background-color: #ffffff;
}

div.card > div.card-image > p > img
{
	display: block;
	height: 100px;
	width: 125px;
	margin: 0 auto;
}


div.card > div.card-details
{

	margin-left: 0px;
	padding: 0px 10px;

}

div.card > div.card-details > p
{
	font-family: 'Source Sans Pro', sans-serif;
}

div.card > div.card-details > p.customer
{
	color: #05ABE0;
	font-family: 'Roboto', sans-serif;
	text-transform: none;
	font-size: 1.3em;
	padding-bottom: 5px;
	text-align: center;
}

div.card > div.card-details > p.issue
{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	/*text-transform: uppercase;*/
	padding-bottom: 5px;
	color: #000;
	font-weight: 500;
}

div.card > div.card-details > p.description
{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: #333645;
	text-transform: none;
}

div.card > div.card-footer
{
	margin-top: 15px;
	/*border-top: 1px solid #777777;*/
}

div.card > div.card-footer > p
{
	display: inline-block;
	margin: 5px 5px auto auto;

}

div.card > div.card-footer > p.trackingnumber
{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #272727;
	display: block;
	margin-left: 5px;
}


div.card > div.card-footer > p.url
{
	text-align: center;
}


div.card > div.card-footer > p.url > a, td > a
{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #05ABE0;
	text-transform: uppercase;
	text-decoration: none;
}

div.card > div.card-footer > p.url > a:hover, td > a:hover
{
	text-decoration: underline;
}


section.card
{
	background-color: #fff;
	display:inline-block;
	color: #333647;
	width:200px;
	margin-left: 25px;
	cursor:select;
}


section.card p
{
		font-size:27px;
		text-align:center;
}


section.card  > p.card-title
{
	font-size: 18px;
	padding: 0;
	color: #787878;
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
	/*border-bottom: 1px solid #b9b8b1;*/
}


div.card > header.subheading, form.card > header.subheading
{
	font-size: 18px;
	margin:0;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px 0px 15px 0px;
	font-weight: bold;
	color: #05ABE0;
	text-transform: uppercase;
}

div.card img
{
	width: 200px;
	height: 150px;
}

div.card a.listing
{
	color:#5f81ea;
	float: right;
	display: block;
}


footer
{
	bottom:0px;
	clear:both;
	margin: 0px 0px 0px 250px;
	height:40px;
	text-align:center;
}
