body
{
	margin: 0;
	padding: 0;
	width: 100%;
	color: #000;
	background-color: #009688;
	background-repeat: repeat;
	background-image: url('../images/shapes.png');
	/*background-position: top 2%;*/
	/*background-size: cover;*/
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

header.top
{
	width: 100%;
	height: 60px;
border-bottom: 3px solid #d29318;
	background-color: rgba(255, 255, 255, 1.0);
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #777777;
	vertical-align: middle;
}

header.top > img
{
	width: 250px;
	height: 60px;
	margin-left: 100px;

}


div#container
{
	height: 100%;
	width: 100%;
	clear: both;
}


div#bottom
{

	width:100%;
	height: 50%;
}

form > img
{
	/*height: 200px;*/
	/*width: 200px;*/
	display: block;
	margin: 0 auto;
}

form > header
{
	margin-left: 0px;
	margin-top: 5px;
	max-width: 600px;
	font-family: 'Roboto', sans-serif;
	font-size: 2.3em;
	padding-bottom:12px;
	color: #3993D0;
}

form > header.reset
{
	color: #FF6B6B;
}

div#bottom > header
{
	font-size: 3em;
	color: #333645;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 0px;
	margin-top:20px;
	text-align: left;
	padding-bottom: 15px;
}


form
{
	background-color: #fff;
	width: 400px;
	padding: 10px 50px;
	margin: 50px auto;
	border-bottom: 4px solid #d29318;

}

form#password
{
	/*height: 600px;*/
}

p#result
{
	background-color:#009688;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	padding: 30px;
}

input[type=text]#username
{
	background-image: url('../images/icons/circledcontact.png');

	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=password]#password
{
	background-image: url('../images/icons/asterisk.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}

input[type=email]#emailaddress
{
	background-image: url('../images/icons/email.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5px center;
}


input[type=submit], button
{
	height: 40px;
	font-size: 20px;
	width:100px;
	margin: 20px 26%;
	color: #fff;
	border:none;
	background-color: #0EB4CA;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;

}

#relogin
{
	width: 200px;
	margin: 20px 18%;
}


input[type=submit]:hover, button:hover
{

	color: #fff;
	background-color: #1EC8D8;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;

}

input[type=text], input[type=password], input[type=email]
{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	/*text-align: center;*/
	background: none;
	color: #3993D0;
	padding-left: 30px;
	padding-bottom: 3px;
	border: 0;
	border-top:none;
	border-left:none;
	border-right: none;
	border-bottom: 1px solid #BBBBBB;
	box-shadow: none;
	outline: none;
	height: 30px;
	width: 250px;
}




label
{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	display: block;
	color: #777777;
	width:150px;
	margin-left:5px;
	text-align: left;
	text-transform: none;

}


p.text
{

	color: #3993D0;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

p#msg
{
	color: #FF6B6B;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 5px;
	font-size: 1em;
	font-weight: 600;
}

form > p#forgot-password
{
	cursor: pointer;
	font-weight: 600;
}

form > p#forgot-password:hover
{
	color: #2fa0d0;
	text-decoration: underline;
}

footer
{


	width: 100%;
	bottom:5px;
	font-size: 1em;
	color: #fff;
	text-align:center;
	position: fixed;
	font-family: 'Roboto', sans-serif;

}


/* STYLES FOR DEVICE WITH SMALLER SCREENS GO HERE */
@media (max-width:641px)
{
			*
			{
				margin: 0;
				padding: 0;
			}

			body
			{
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: -30px 5px;
				background-size: 700px 600px;

			}

			form > header
			{
				font-size: 1.3em;
			}

			form
			{
				margin-left: 180px;
				padding: 10px 30px;
				float: none;
				width: 215px;


			}

			form > p#forgot-password
			{
				margin-left: 20px;
				padding: 0px;
			}

			form > p.text
			{
				padding: 15px;
				font-size: 1em;
			}

			header.top
			{
				margin: 0 auto;
			}






}

/* //////////////////////////////*/
/* FOR TABLET DEVICES            */
/* //////////////////////////////*/
@media (min-width:642px) and (max-width: 961px)
{

	*
	{
		margin: 0;
		padding: 0;
	}

	body
	{
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: -30px 5px;
	}

	form
	{
		margin-left: 175px;
		padding: 10px 30px;
		width: 350px;


	}


	form > p#forgot-password
	{
		margin-left: 50px;
		padding: 0px;
	}

	form > p.text
	{
		padding: 15px;
		font-size: 1em;
	}

	header.top > img
	{
		display: block;
		margin: 0 auto;
	}



}
